[Unit]
Description=obsidian-backup
After=default.target

[Service]
ExecStart=/home/nobuhikosawai/.config/systemd/user/obsidian-rsync.sh

[Install]
WantedBy=default.target
