[user]
	name = Nobuhiko Sawai
	email = nobuhiko.sawai@gmail.com
[color]
	ui = true
[alias]
	ad = add
	adp = add -p
	br = branch
	ci = commit
	co = checkout
	last = log -1 HEAD
	st = status
  sw = switch
  re = restore
	tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
	prb = pull-request --browse
	poh = push origin HEAD
	clean-merged = "!f() { git branch --merged ${1:-master} | egrep -v \"(^\\*|${1:-master})\" | xargs -I % git branch -d %; };f"
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = ~/.stCommitMsg
[url "git@github.com:"]
	insteadOf = https://github.com/
[github]
	user = nobuhikosawai
[fetch]
	prune = true
[pull]
	rebase = false
[ghq]
	root = ~/.ghq
[init]
	defaultBranch = main
